<div class="jumbotron text-center">
    <h1 class="display-3">Login System</h1>
    <p class="lead"Login and registration using Node.js, Express.js and MongoDB</p>
    {{!-- <a href="/users/login" class="btn btn-dark btn-lg">Login</a> --}}
</div>