<div class="card card-body">
    <h3>Login...</h3>
    <form action="/login" method="post">
    <div class="form-group">
        <label for="email">E-mail</label>
        <input type="text" class="form-control" name="email">
        <label for="password">Password</label>
        <input type="text" class="form-control" name="password">
    </div>
        <button type="submit" class="btn btn-primary">Login</button>
    </form>
</div>